html
    include ../includes/head.pug

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            ul(class="nav nav-justify-content-center")
                li(class="nav- px-2") 
                    a(class=nav-link href='/home') home 
                li(class="nav-item px-2")  
                    a(class=nav-link href='/login') login 
                li(class="nav-item px-2")  
                    a(class=nav-link href='/register') register

                        
block content 