html
    head
      title= title
     
    body
         h1= "Add New User"
    form( role="form", action="/admin", method="POST")
     p
       | name: 
       input(type="text", name="name", placeholder="isim")
       |          password: 
       input(type="text", name="password",placeholder="şifre")
       |           
       input(type='submit', value='Add')