extends layouts/main-layout.pug     
block  content
  h1= message
  if denied
    div.alert.alert-danger not logged in
  form( role="form", action="/login", method="POST")
    p
    | name: 
    input(type="text", name="name", placeholder="name")
    |          password: 
    input(type="password", name="password",placeholder="new password")
    |           
    input(type='submit',class='btn btn-success', value='Submit')
  a(href='/resetPassword')  Forgot your password?