extends layouts/main-layout.pug     
block  content
  h1= message
  
  form( role="form", action="/newPassword", method="POST")
    p
    |
    input(type="hidden", name="userId",value=`${userId}`)
    |
    input(type="hidden", name="passwordToken",value=`${passwordToken}`)
    |          password: 
    input(type="text", name="newPassword",placeholder="new password")
    |           
    input(type='submit', value='Submit')
  