extends layouts/main-layout.pug  
block  content
    form( role="form", action="/resetPassword", method="POST")
        p
        | email: 
        input(type="text", name="email", placeholder="email")
